<div class="ml-4">
    <div class="row">

        <div class="col-sm-2">
            <button class="form-control btn btn-outline-primary btn-rounded">Enviar Sefaz</button>
        </div>
        <div class="col-sm-2">
            <button class="form-control btn btn-outline-secondary btn-rounded">Averbar</button>
        </div>
        <div class="col-sm-2">
            <button class="form-control btn btn-outline-success btn-rounded">Imprimir DAMDFE</button>
        </div>
        <div class="col-sm-2">
            <button class="form-control btn btn-outline-warning btn-rounded">Encerrar MDF-E</button>
        </div>
        <div class="col-sm-2">
            <button class="form-control btn btn-outline-danger btn-rounded">Cancelar MDF-E</button>
        </div>
        <div class="col-sm-2">
            <button class="form-control btn btn-outline-info btn-rounded">Cancelar MDF-E</button>
        </div>  

    </div>
</div>