{% load static %}
{% load bootstrap %}
<form method="POST" id="frmRotas">{% csrf_token %}
  <div class="modal" id="mdlRotas" tabindex="-1"data-bs-backdrop="static" 
      data-bs-keyboard="false" aria-labelledby="staticBackdropLabel" 
      aria-hidden="true">
    <div class="modal-dialog modal-xl altura-modal-topo" >
        <div class="modal-content">
        <div class="modal-header" style="padding : 7px 0px 7px 10px !important;">
          <h5 class="modal-title pt-2">Cadastrar Rotas</h5>
          <div>
            <div class="input-group" align="right">
              <button type="button" class="btn btn-secondary btn-rounded btn-icon" id="btnLimpaRota" align=right>            
                <i class="ti-write"></i>
              </button>
              <button type="button" class="btn btn-success btn-rounded btn-icon" id="inserirRota" align=right>            
                <i class="ti-save"></i>
              </button>
              <button type="button" class="btn btn-danger btn-rounded btn-icon"  onclick="closeModal()" align=right>
                <i class="ti-close"></i>
              </button>
            </div>
          </div>  
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="form-floating pl-1 pr-0 col-2 mb-3">
              <input type="text" class="form-control limpa" id="idRota" name="idRota" placeholder="Ex: SAOXRIO" readonly disabled=true value="">
              <label for="nomeRota">Id Rota</label>
            </div> 
            <div class="form-floating pl-1 pr-0 col-7 mb-3">
              <input type="text" class="form-control limpa" id="nomeRota" name="nomeRota" placeholder="Ex: SAOXRIO">
              <label for="nomeRota">Insira o nome da rota</label>
            </div>

            <span class="text-primary">Endereço Origem</span>
            <div class="form-floating col-1 pl-1 pr-0">
              <input type="text" class="form-control form-control-sm" id="cepOrigem" placeholder="Cep Origem" style="font-size: 10px !important;">
              <label for="cepOrigem" style="font-size: 11px !important;">Cep</label>
            </div>
            <div class="form-floating col-3 pl-1">
              <input type="text" class="form-control form-control-sm" id="logradouroOrigem" placeholder="Logradouro Origem">
              <label for="logradouroOrigem">Logradouro</label>
            </div>
            <div class="form-floating col-1 pl-1">
              <input type="text" class="form-control form-control-sm" id="numeroOrigem" placeholder="Logradouro Origem">
              <label for="numeroOrigem">Número</label>
            </div>            
            <div class="form-floating col-2 pl-1">
              <input type="text" class="form-control form-control-sm" id="complementoOrigem" placeholder="Complemento Origem">
              <label for="complementoOrigem">Complemento</label>
            </div>
            <div class="form-floating col-2 pl-1">
              <input type="text" class="form-control form-control-sm" id="bairroOrigem" placeholder="Bairro Origem">
              <label for="bairroOrigem">Bairro</label>
            </div>
            <div class="form-floating col-2 pl-1">
              <input type="text" class="form-control form-control-sm" id="cidadeOrigem" placeholder="Cidade Origem">
              <label for="cidadeOrigem">Cidade</label>
            </div>
            <div class="form-floating col-1 pl-1">
              <input type="text" class="form-control form-control-sm" id="ufOrigem" placeholder="Uf Origem">
              <label for="ufOrigem">Uf</label>
            </div>

            <span class="text-primary mt-1">Endereço Destino</span>
            <div class="form-floating col-1 pl-1 pr-0">
              <input type="text" class="form-control form-control-sm " id="cepDestino" placeholder="Cep Destino" style="font-size: 10px !important;">
              <label for="cepDestino" style="font-size: 11px !important;">Cep</label>
            </div>
            <div class="form-floating col-3 pl-1">
              <input type="text" class="form-control form-control-sm" id="logradouroDestino" placeholder="Logradouro Destino">
              <label for="logradouroDestino">Logradouro</label>
            </div>
            <div class="form-floating col-1 pl-1">
              <input type="text" class="form-control form-control-sm" id="numeroDestino" placeholder="Logradouro Destino">
              <label for="numeroDestino">Número</label>
            </div>            
            <div class="form-floating col-2 pl-1">
              <input type="text" class="form-control form-control-sm" id="complementoDestino" placeholder="Complemento Destino">
              <label for="complementoDestino">Complemento</label>
            </div>
            <div class="form-floating col-2 pl-1">
              <input type="text" class="form-control form-control-sm" id="bairroDestino" placeholder="Bairro Destino">
              <label for="bairroDestino">Bairro</label>
            </div>
            <div class="form-floating col-2 pl-1">
              <input type="text" class="form-control form-control-sm" id="cidadeDestino" placeholder="Cidade Destino">
              <label for="cidadeDestino">Cidade</label>
            </div>
            <div class="form-floating col-1 pl-1">
              <input type="text" class="form-control form-control-sm" id="ufDestino" placeholder="Uf Destino">
              <label for="ufDestino">Uf</label>
            </div>
           
            <div class="form-floating pl-1 mt-3 col-4">
              <input type="text" class="form-control" id="idNomeRota" readonly disabled=true>
              <label for="idNomeRota">Rota</label>
            </div>
            <div class="form-floating col-2 pl-0 mt-3">
              <select class="form-select " id="ufPercurso" name="ufPercurso">
                <option selected></option>
                <option value="AC">AC</option>
                <option value="AL">AL</option>
                <option value="AP">AP</option>
                <option value="AM">AM</option>
                <option value="BA">BA</option>
                <option value="CE">CE</option>
                <option value="DF">DF</option>
                <option value="ES">ES</option>
                <option value="GO">GO</option>
                <option value="MA">MA</option>
                <option value="MT">MT</option>
                <option value="MS">MS</option>
                <option value="MG">MG</option>
                <option value="PA">PA</option>
                <option value="PB">PB</option>
                <option value="PR">PR</option>
                <option value="PE">PE</option>
                <option value="PI">PI</option>
                <option value="RJ">RJ</option>
                <option value="RN">RN</option>
                <option value="RS">RS</option>
                <option value="RO">RO</option>
                <option value="RR">RR</option>
                <option value="SC">SC</option>
                <option value="SP">SP</option>
                <option value="SE">SE</option>
                <option value="TO">TO</option>
                <option value="EX">EX</option>                        
              </select>
              <label for="ufPercurso">Uf de destino</label>
            </div>
            <div class="form-floating col-4 pl-0 mt-3">
              <select class="form-select" id="cidadePercurso" name="cidadePercurso">
                <option selected></option>
              </select>
              <label for="cidadePercurso">Cidade de destino</label>
            </div>
            <div class="pl-0 pr-0  col-2 mt-3">
              <button class="btn btn-outline-primary btn-lg">Inserir</button>
            </div>
            <div class="mt-3 pl-1">
              <h5>Percurso</h5>
              <table class="table table-sm table-striped">
                  <thead>
                    <tr>
                      <th scope="col">Id</th>
                      <th scope="col">Uf</th>
                      <th scope="col">Cidade</th>
                      <th scope="col"></th>
                      <th scope="col"></th>
                    </tr>
                  </thead>
              </table>
            </div>                           
          </div>
        </div>
      </div>
    </div>
  </div>
</form>