{% load static %}
{% load bootstrap %}
<form method="POST">
    {% csrf_token %}
<!-- Modal -->
    <div class="modal fade" id="mdlTabFrete" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg modal-dialog-scrollable modal-dialog-centered mt-2">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel"> Cadastro de tabelas de frete</h5>
            <button type="button" class="btn-close" id="btnCloseTabelaFrete" onclick="closeModal()"></button>
          </div>
          <div class="modal-body">
            <div class="row">
              <nav>
                <div class="row">
                    <div class="col-sm-6 mb-1 mt-1 pr-1 pl-0 input-group">
                      <div class="input-group-append">
                          <input type="text" class="col-11 form-control form-control-sm" id="numTabela" name="numTabela"placeholder="Nº Tabela" aria-label="Search" aria-describedby="basic-addon2" readonly> 
                          <button class="btn btn-success form-control-sm"  id="btnIncluiTabela" type="button">
                              <i class="ti-save"></i>   
                            </button>  
                            <button class="btn btn-primary form-control-sm"  id="btnNovaTabela" type="button">
                                <i class="ti-write"></i>   
                            </button>
                            <button class="btn btn-danger form-control-sm"  id="btnExcluiTabela" type="button">
                                <i class="ti-trash"></i>   
                            </button>
                        </div>
                    </div> 

                    <div class="form-floating col-6 pl-1 pr-1 mt-1">
                         <select type="text" name="tipoTabela" id="tipoTabela" class="form-select form-control-sm">
                          <option value="1">Tab. Geral</option>
                          <option value="2">Tab. Especifica</option>
                        </select>
                        <label for="tipoTabela" class="text-primary">Tipo de Tabela</label>
                    </div>                                          
                  </div>                    
              </nav>
              <section class="col-6">
                <div class="row">
             
                  <div class="form-floating col-3 pl-0 pr-1 mt-1">
                      <input type="text" name="freteMinimo" id="freteMinimo" class="form-control form-control-sm" placeholder="Frete mínimo" onKeyPress="return(MascaraMoeda(this,'.',',',event))">
                      <label for="freteMinimo" class="text-primary">Frete mínimo:</label>
                  </div>
                  <div class="form-floating col-3 pl-0 pr-1 mt-1">
                      <input type="check" name="descTabela" id="descTabela" class="form-control form-control-sm" placeholder="Descrição">
                      <label for="descTabela"class="text-primary">Descrição da tabela:</label>
                  </div>  

                  <div class="form-floating col-3 pl-1 pr-1 mt-1">
                      <input type="text" name="vlrFrete" id="vlrFrete" class="form-control form-control-sm" placeholder="R$" onKeyPress="return(MascaraMoeda(this,'.',',',event))">
                      <label for="vlrFrete" class="text-primary">Valor frete</label>
                  </div>
                  <div class="form-floating col-3 pl-0 pr-0 mt-1">
                      <select type="text" name="tipoFrete" id="tipoFrete" class="form-control-sm form-select ">
                          <option value="1">por kg</option>
                          <option value="2">percentual</option>
                          <option value="3">por unidade</option>
                      </select>                
                      <label for="tipoFrete" class="text-primary">Tipo de cálculo</label>
                  </div> 
                  <div class="form-floating col-3 pl-0 pr-1 mt-1">
                    <input type="text" name="aliquotaIcms" id="aliquotaIcms" class="form-control form-control-sm" placeholder="Advalor" onKeyPress="return(MascaraMoeda(this,'.',',',event))">
                    <label for="advalor" class="text-primary">Aliquota Icms</label>
                  </div>
                  <div class="form-floating col-3 pl-0 pr-1 mt-1">
                    <input type="text" name="advalor" id="advalor" class="form-control form-control-sm" placeholder="Advalor" onKeyPress="return(MascaraMoeda(this,'.',',',event))">
                    <label for="advalor" class="text-primary">Advalor</label>
                  </div>                
                  <div class="form-floating col-3 pl-0 pr-0 mt-1">
                      <input type="text" name="gris" id="gris" class="form-control form-control-sm" placeholder="Gris"onKeyPress="return(MascaraMoeda(this,'.',',',event))">
                      <label for="gris" class="text-primary">Gris:</label>
                  </div>
                  <div class="form-floating col-3 pl-1 pr-0 mt-1">
                      <input type="text" name="despacho" id="despacho" class="form-control form-control-sm" placeholder="Despacho"onKeyPress="return(MascaraMoeda(this,'.',',',event))">
                      <label for="despacho" class="text-primary">Despacho:</label>
                  </div> 
                  <div class="form-floating col-3 pl-0 pr-1 mt-1">
                      <input type="text" name="outros" id="outros" class="form-control form-control-sm" placeholder="Outros"onKeyPress="return(MascaraMoeda(this,'.',',',event))">
                      <label for="outros" class="text-primary">Outros:</label>
                  </div>
                  <div class="form-floating col-3 pl-0 pr-1 mt-1">
                      <input type="text" name="pedagio" id="pedagio" class="form-control form-control-sm" placeholder="Pedágio"onKeyPress="return(MascaraMoeda(this,'.',',',event))">
                      <label for="pedagio" class="text-primary">Pedágio:</label>
                  </div>
                  <div class="form-floating col-3 pl-0 pr-0 mt-1">
                      <select type="text" name="tipoCobranPedagio" id="tipoCobranPedagio" class="form-control-sm form-select ">
                          <option value="1">por Cte</option>
                          <option value="2">a cada 100 kg</option>
                      </select>             
                      <label for="tipoCobranPedagio" class="text-primary">Tipo Pedágio</label>   
                  </div>
                  <div class="form-floating col-3 pl-1 pr-0 mt-1">
                      <input type="text" name="cubagem" id="cubagem" class="form-control form-control-sm" placeholder="Fator cubagem" onKeyPress="return(MascaraMoeda(this,'.',',',event))">
                      <label for="cubagem" class="text-primary">Fator cubagem:</label>
                  </div>
                  <div class="form-check form-check-primary col-3 pl-5 pr-0 mt-4">
                    <div class="form-check">
                      <label class="form-check-label text-muted">
                        <input type="checkbox" class="form-check-input" id="cobraCubagem" name="cobraCubagem">
                        Cubagem?
                        <i class="input-helper"></i><i class="input-helper"></i>
                      </label>
                    </div>
                  </div>

                    <div class="form-check form-check-primary col-3 pl-5 pr-0 mt-4">
                        <div class="form-check">
                          <label class="form-check-label text-muted">
                            <input type="checkbox" class="form-check-input" id="icms" name="icms">
                            Icms?
                          </label>
                        </div>  
                    </div> 
                    <div class="form-check form-check-primary col-3 pl-5 pr-0 mt-4">
                      <div class="form-check">
                        <label class="form-check-label text-muted">
                          <input type="checkbox" class="form-check-input" id="tabBloq" name="tabBloq">
                          Bloqueada?
                        </label>
                    </div>
                </div>
              </section>

              <section class="col-6 pl-1 pr-1">
                <div class="col-12 grid-margin mt-1 border rounded">
                    <div class="card">
                      <div class="card-body">
                        <div class="row">
                          <div class="">
                              <h6 class="text-primary">Inserir faixas de peso</h6>       
                          </div> 
                          <input type="hidden" name="idFaixa" id="idFaixa">
                          <div class="col-2 pl-0 pr-1 mt-1">
                              <input type="text" name="faixaInicial" id="faixaInicial" class="form-control form-control-sm" placeholder="De (kg)">
                          </div>
                          <div class="col-2 pl-0 pr-1 mt-1">
                              <input type="text" name="faixaFinal" id="faixaFinal" class="form-control form-control-sm" placeholder="Até (kg)">
                          </div>
                            <div class="col-sm-8 pl-0 pr-1 mt-1 input-group">
                              <input type="text" class="col-12 form-control form-control-sm" id="faixaValor" name="faixaValor" placeholder="Frete (R$)" aria-label="Search" aria-describedby="basic-addon2" onKeyPress="return(MascaraMoeda(this,'.',',',event))">
                              <div class="input-group-append">
                                  <button class="btn btn-success form-control-sm" id="btnFaixa" name="btnFaixa" type="button">
                                    <i class="ti-save"></i>   
                                  </button>   
                                  <button class="btn btn-primary form-control-sm" id="btnNovaFaixa" type="button">
                                      <i class="ti-write"></i>   
                                  </button>
                                  <button class="btn btn-danger form-control-sm" id="btnDeletaFaixa" name="btnDeletaFaixa" type="button">
                                      <i class="ti-trash"></i>   
                                  </button>
                              </div>
                            </div>
                      <div class="table-sorter-wrapper col-lg-12 table-responsive  table-sm pl-2 pr-2 mt-1 ">
                            <table id="tabelaFaixas" name="tabelaFaixas" class="table table-striped">
                              <thead>
                                <tr>
                                  <th class="sortStyle">Peso inicial</th>
                                  <th class="sortStyle">Peso final</th>
                                  <th class="sortStyle">R$</th>
                                </tr>
                              </thead>
                              <tbody>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
              </section>              
                <div class="col-6 grid-margin pl-1 pr-1 mt-1 border mt-2 rounded">
                      <div class="card">
                        <div class="card-body">
                          <div class="row">
                            <div class="">
                                <h6 class="text-primary">Inserir rotas a tabela</h6>       
                            </div> 
                              <div class="col-sm-12 pl-0 pr-1 mt-0 input-group form-control-sm">
                                  <select type="text" name="rota" id="rota" class="form-control-sm form-select">
                                      <option value="0" selected>Selecione uma rota</option>
                                  </select>
                                <div class="input-group-append">
                                    <button class="btn btn-success form-control-sm" id="btnSaveRotaTabela" type="button">
                                      <i class="ti-save"></i>   
                                    </button>   
                                    <button class="btn btn-primary form-control-sm" id="btnLimpaRotaTabela" type="button">
                                        <i class="ti-write"></i>   
                                    </button>
                                    <button class="btn btn-danger form-control-sm" id="btnDeletaRotaTabela" type="button">
                                        <i class="ti-trash"></i>   
                                    </button>
                                </div>
                              </div>
                                <div class="table-sorter-wrapper col-lg-12 table-responsive  table-sm pl-1 pr-1 mt-3 ">
                                      <table id="rotasAnexadasTabela" class="table table-striped">
                                        <thead>
                                          <tr>                                    
                                            <th class="sortStyle">Nome</th>
                                            <th class="sortStyle">Origem</th>
                                            <th class="sortStyle">Destino</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                      </table>
                                </div>
                              </div>
                        </div>
                      </div>
                </div>                    
                <div class="col-6 grid-margin pr-0 pl-1 border mt-2 pl-1 rounded ">
                      <div class="card">
                        <div class="card-body">
                          <div class="row">
                            <h6 class="text-primary pl-2 mt-2">Cnpj/Cpf relacionados</h6>  
                            <div class="col-4 pl-0 pr-1 mt-0">
                                <input type="text" name="comlCnpj" id="comlCnpj" class="form-control form-control-sm" placeholder="Cnpj/Cpf">
                            </div>                 
                            <div class="col-sm-8 pl-0 pr-1 mt-0 input-group">
                              <input type="text" class="col-12 form-control form-control-sm" name="comlRazao" id="comlRazao" placeholder="Nome/Razão Social" disabled readonly>
                              <div class="input-group-append">
                                  <button class="btn btn-success form-control-sm" name="btnRelacionaTabela" id="btnRelacionaTabela" type="button" value="Incluir">
                                    <i class="ti-save"></i>   
                                  </button>   
                                  <button class="btn btn-primary form-control-sm" id="btnNovoCnpj" type="button">
                                      <i class="ti-write"></i>   
                                  </button>

                              </div>
                            </div>                            

                            <div class="table-sorter-wrapper col-lg-12 table-responsive table-sm">
                              <table class="table table-striped sortable-table-2 pl-1 mt-0" id="cnpjsRelacionados" name="cnpjsRelacionados">
                                <thead>
                                  <tr>
                                    <th class="sortStyle">Cnpj/Cpf</th>
                                    <th class="sortStyle">Nome/Razão Social</th>
                                  </tr>
                                </thead>
                                <tbody>
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                      </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</form> 
