<form id="frmBuscaMotorista">
    <div class="modal" id="mdlBuscaVeiculo" tabindex="-1" data-bs-backdrop="static"
        data-bs-keyboard="false">
        <div class="modal-dialog modal-lg modal-altura">
          <div class="modal-content">
            <div class="modal-header cabecalho-modal-parceiro">
            <h5 class="modal-title">Selecione um veículo</h5>
                <div>
                <div class="input-group mb-2" align="right">
                  <button type="button" class="btn btn-secondary btn-rounded btn-icon" id="btnLimpaBuscaVeiculo" align="right">            
                    <i class="ti-write"></i>
                  </button>
                  <button type="button" class="btn btn-danger btn-rounded btn-icon" id="btnCloseBuscaManifesto" onclick="closeModal()" align="right">
                    <i class="ti-close"></i>
                  </button>
                </div>
              </div>  
            </div>
            <div class="modal-body">

                <div class="input-group form-group form-floating pt-1">
                    <input type="text" class="form-control small  form-control-sm" id="placaVeiculo" name="placaVeiculo" placeholder="Placa veículo" aria-label="Search" aria-describedby="basic-addon2">
                    <label class="text-secondary" for="placaVeiculo">Placa:</label>
                    <div class="input-group-append">
                      <a class="btn btn-primary" id="btnBuscarVeiculos" style="display: flex; justify-content: center; align-items: center;" >
                        <i class="fa fa-search"></i>   
                      </a>
                    </div>
                </div>
                
                <table class="mt-1" style="width: 100%;border-radius: 10px;background-color: #4B49AC;color: white;border-radius: 5px; padding: 3px;">
                    <thead>
                      <tr>
                        <th class="">Placa</th>
                        <th class="">Modelo</th>
                        <th class="">Proprietário</th>
                        <th class=""></th>
                      </tr>
                    </thead>
                    <tbody class="border" id="tbodyBuscaVeiculo" style="width: 100%;border-radius: 10px;background-color:whitesmoke;color: black;">
                    </tbody>
                </table>    
                <div id="paginacaoBuscaVeiculo"></div>
            </div>
          </div>
        </div>
    </div>
  </form>
  