<!-- Loader-->

<div class="modal" tabindex="-1" id="loader">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
            <div class="overlay">
                <div class="loading-message">
                    <div class="loader-demo-box">
                        <div class="square-box-loader">
                            <div class="square-box-loader-container">
                                <div class="square-box-loader-corner-top"></div>
                                <div class="square-box-loader-corner-bottom"></div>
                            </div>
                            <div class="square-box-loader-square"></div>
                        </div>
                    <p>Carregando, aguarde...</p>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>