  {% extends 'base.html' %}
  {% load static %}

  {% block 'cabecalho' %}
  <!-- Google Maps -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCj2Tn5LiWlTUgevFKlQ7aUku8ZxYyjyXM"></script>

  <!--  -->

  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
  {% endblock %}
  {% block 'conteudo' %}
  <div id="map" class="mapa-planejamento pr-4"></div>

  <div  id="filial">
    <div class="row">
      <div class="col-sm-2 form-floating">
        <select class="form-select" id="selectFilial" aria-label="Floating label select example">
          <option selected>Selecione</option>
          <option value="1" data-lat="-23.47337308" data-lng="-46.47320867">SAO</option>
          <option value="2" data-lat="-12.9704" data-lng="-38.5124">SSA</option>
          <option value="3" data-lat="-30.0277" data-lng="-51.2287">POA</option>
        </select>
        <label class="ml-2" for="selectFilial">Selecione uma Filial</label>
      </div>
      <div class="col-sm-1">
          <button type="button" class="btn btn-warning btn-rounded btn-icon class btn-limpar-mapa" id="btnResetMapa">
          <i class="ti-reload btn-icon-prepend" aria-hidden="true"></i>
        </button>
      </div>
      <div class="col-sm-1">
        <button type="button" class="btn btn-info btn-rounded btn-icon class btn-offcanvas-top">
          <i class="fa fa-truck" aria-hidden="true"></i>
        </button>
      </div>

      <div class="col-sm-1">
        <button type="button" class="btn btn-success btn-rounded btn-icon class btn-offcanvas-left" data-bs-toggle="offcanvas" href="#offcanvasExample2" role="button" aria-controls="offcanvasExample">
          <i class="fa fa-truck" aria-hidden="true"></i>
        </button>
      </div>

      <div class="col-sm-1">
        <button type="button" class="btn btn-danger btn-rounded btn-icon class btn-offcanvas-bottom" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
          <i class="fa fa-truck" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </div>

  <!-- offcanvas -->
  <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasExampleLabel">Offcanvas</h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <div>
        Some text as placeholder. In real life you can have the elements you have chosen. Like, text, images, lists, etc.
      </div>
      <div class="dropdown mt-3">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown">
          1
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample2" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasExampleLabel">Offcanvas</h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <div>
        Some text as placeholder. In real life you can have the elements you have chosen. Like, text, images, lists, etc.
      </div>
      <div class="dropdown mt-3">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown">
          2
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="modalPlanejamentoColetas" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalColetaId">Modal title</h5>
          <button type="button" class="btn-close" onclick="closeModal()"></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-sm-6" id="tabelaColetas">

            </div>
            <div class="col-sm-6" id="acoesColetas">

            </div>
            <div class="col-sm-12 btn-group pt-2" id="botoesColetas" role="group" aria-label="Basic example" style="width:100%">

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="modalPlanejamentoVeiculos" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <div class="col-sm-10">
            <h5 class="modal-title" id="modalVeiculoId"></h5>
          </div>  
          <div class="col-sm-2">
            <div class="input-group" style="display: flex; justify-items: right;">
              <button type="button" class="btn btn-success btn-rounded btn-icon" id="btnSelecionarLocais" align=right>            
                <i class="fa fa-map" aria-hidden="true"></i>
              </button>
              <button type="button" class="btn btn-danger btn-rounded btn-icon" id="btnClose" onclick="closeModal()" align=right>
                <i class="ti-close"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="modal-body">
          <div class="row">
            <div>
              <table class="table table-striped table-sm tabela-planejamento-veiculos" >
                <thead>
                  <th>Nº</th>
                  <th>Qtde</th>
                  <th>Peso</th>
                  <th>R$</th>
                  <th>Status</th>
                  <th></th>
                  <th></th>
                </thead>
                <tbody id="tbodyDocumentos">

                </tbody>
              </table>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
 
  </div>
  {% block js %} 
    <script src="{% static 'js/meusJS/utils.js' %}"></script>
    <script src="{% static 'js/meusJS/planejamentoAcompanhamento/gerarDados.js' %}"></script>
    <script src="{% static 'js/meusJS/planejamentoAcompanhamento/initMap.js' %}"></script>
    <script src="{% static 'js/meusJS/modalCadVeiculos/txtProprietario.js' %}"></script>
    <script src="{% static 'js/meusJS/planejamentoAcompanhamento/verificarLocalidadesNaRota.js' %}"></script>
    <script src="{% static 'js/meusJS/planejamentoAcompanhamento/locais.js' %}"></script>
    <script src="{% static 'js/meusJS/planejamentoAcompanhamento/modalVeiculos.js' %}"></script>
    <script src="{% static 'js/meusJS/planejamentoAcompanhamento/veiculos.js' %}"></script>
    <script src="{% static 'js/meusJS/planejamentoAcompanhamento/rotas.js' %}"></script>



    <script src="{% static 'js/meusJS/planejamentoAcompanhamento/planejamentoAcompanhamento.js' %}"></script>
    <script src="{% static 'js/meusJS/planejamentoAcompanhamento/Mapa.js' %}"></script>
    <script src="{% static 'js/meusJS/planejamentoAcompanhamento/botoesMapa.js' %}"></script>

  {% endblock %}

  {% endblock %}

