    <div class="row p-0" id="semNf">
        <div class="alert alert-info mt-3 col-sm-12" role="alert">
            Não há notas fiscais associadas a esta DTC.
        </div>
    </div>
    <form method="POST" id="formCalculoFrete">
        <div class="row p-0" disabled>
            <div class="col-sm-12 mb-1 d-flex justify-content-end">
                <div class="col-sm-8" id="botoes">
                    <div class="col-12">
                        <input type="hidden" id="cotacaoSelecionada" value=''>
                        <input type="hidden" id="vlrCotacaoSelecionada" value=''>

                        <div class="input-group col-12">
                            <input type="text" class="alert-info form-control form-control-sm " 
                            placeholder="Tomador : " name="tomadorCte" id="tomadorCte" readonly>
                            <input type="text" class="form-control alert-success form-control-sm " 
                            placeholder="Tabela Frete : " name="tabelaFreteCte" id="tabelaFreteCte" readonly>
                            <button class="btn btn-secondary btn-rounded form-control-sm" data-toggle="tooltip" data-placement="top" title="Novo" id="btnNovoCalc">
                            <i class="ti-write"></i>
                            </button>
                            <button type="button" class="btn btn-danger btn-rounded form-control-sm" data-toggle="tooltip" data-placement="top" title="Salvar" id="btnExcluiCte">
                                <i class="ti-trash"></i>
                            </button>
                            <button type="button" class="btn btn-success btn-rounded form-control-sm" data-toggle="tooltip" data-placement="top" title="Salvar" id="btnSalvaCte">
                            <i class="ti-save"></i>
                            </button>
                            <button type="button" class="btn btn-dark btn-rounded form-control-sm" data-toggle="tooltip" data-placement="top" title="Excluir" id="btnCalcular">
                                <i class="fa fa-calculator" aria-hidden="true"></i>
                            </button> 
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6" id="esquerda">
                <div class="form-group col-sm-12 mb-0 mt-0">
                    <div class="row">
                        <div class="col-4 pl-1 pr-0" id="divEmissoraCte">
                            <div class="form-floating" >
                                <select class="form-select campoObrigatorio" id="emissoraCte" aria-label="especie nf" data-alert-tag="Emissor">
                                </select>
                                <label for="emissoraCte">Escolha a emissora</label>
                            </div>
                        </div>                     
                        <div class="col-4  pl-1 pr-1 mt-0" id="divOrigemCte">
                            <div class="form-floating">
                                <select class="form-select campoObrigatorio" id="origemCte" placeholder="origem">
                                </select>
                                <label for="origemCte">Origem</label>
                            </div>
                        </div>    
                        <div class="col-4  pl-1 pr-0 mt-0 " id="divDestinoCte">
                            <div class="form-floating">
                                <input class="form-control campoObrigatorio" id="destinoCte" placeholder="Destino">
                                <label for="destinoCte">Destino</label>
                            </div>
                        </div> 

                        <div class="col-4 pl-1 pr-1 mt-1" id="divTipoCte">
                            <div class="form-floating">
                                <select class="form-select campoObrigatorio" id="tipoCte" aria-label="especie nf" data-alert-tag="Tipo Cte">
                                    
                                </select>
                                <label for="tipoCte">Tipo CT-e</label>
                            </div>
                        </div>
                        <div class="col-4  pl-1 pr-1 mt-1" id="divCfopCte">
                            <div class="form-floating">
                                <select class="form-select campoObrigatorio" id="cfopCte" aria-label="especie nf" data-alert-tag="CFOP">
                                    <option value="0" selected>Selecione</option>
                                    <option value="1">6.101-Venda de produção do estabelecimento</option>
                                </select>
                                <label for="cfopCte">CFOP</label>
                            </div>
                        </div>    
                        <div class="col-4 pl-1 pr-0 mt-1" id="divRedespachanteCte">
                            <div class="form-floating">
                                <input type="text" class="form-control form-control-sm " 
                                placeholder="Redespachante" name="redespCte" id="redespCte" data-alert-tag="Redespachante">
                                <label class="text-secondary" for="redespCte">Redespachante :</label>
                            </div>
                        </div>
                    
                        <div class="col-12  pl-1 pr-0 mt-1" id="divObsCte">
                            <div class="form-floating">
                                <textarea class="form-control" id="nfCte" data-alert-tag="notasFiscais"></textarea>
                                <label for="nfCte">Nº Notas Fiscais</label>
                            </div>
                        </div>
                        <div class="col-12 pl-1 mt-1" id="divTabelaTotaisCte">
                            <div class="table-responsive">
                                <table class="table">
                                <thead>
                                    <tr>
                                    <th>Total de Volumes</th>
                                    <th>Peso Real</th>
                                    <th>M³</th>
                                    <th>Valor Nf's</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr id="totaisNfs">
                                    </tr>
                                </tbody>
                                </table>
                            </div>
                        </div>                       
                    </div>
                </div>
            </div>
            <div class="col-sm-6" id="direita">
                <div class="form-group col-sm-12 mb-0 mt-0" >
                    <div class="form-group row mb-1">
                        <div class="col-4 pl-1 pr-0 mt-0" id="divTipoCalc">
                            <div class="form-floating">
                                <select class="form-select campoObrigatorio" id="tipoCalc" aria-label="especie nf" data-alert-tag="Tipo Cálculo">
                                <option value="0" selected>Selecione</option>
                                <option value="1">Tabela Geral</option>
                                <option value="2">Tabela Cliente</option>
                                <option value="3">Frete Informado</option>
                                </select>
                                <label for="tipoCalc">Tipo de cálculo</label>
                            </div>
                        </div>       
                        <div class="col-4 pl-1 pr-1 mt-0" id="divSelecionaTabelaCte">
                            <div class="form-floating">
                                <select class="form-select campoObrigatorio" id="selecionaTabelaCte" aria-label="especie nf" data-alert-tag="Tabela de Frete">
                                    <option value=0 selected>Selecione a tabela</option>
                                </select>
                                <label for="selecionaTabelaCte">Tabela de frete</label>
                            </div>
                        </div> 
                        <div class="form-check form-check-primary col-3 pl-3 pr-0 mt-4" id="divIcmsIncluso">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input" checked="" id="icmsInclusoNf" name="icmsInclusoNf">
                                Icms incluso ?
                            <i class="input-helper"></i></label>
                        </div> 
                        <div class="col-sm-4 mb-1 form-group pr-1 pl-1 form-floating" id="divFretePeso">
                            <input type="text" class="form-control form-control-sm campoObrigatorio" 
                                            placeholder="Frete Calculado" data-alert-tag="Frete Calculado" name="freteCalculadoCte" id="freteCalculadoCte">
                            <label class="text-secondary" for="freteCalculadoCte">Frete Calculado</label>
                        </div>
                        <div class="col-sm-4 mb-1 pl-0 pr-1 form-group form-floating" id="divAdvalor" data-alert-tag="Advalor"> 
                            <input type="text" class="form-control form-control-sm " 
                            placeholder="Advalor" name="advalorCte" id="advalorCte">
                            <label class="text-secondary"for="advalorCte">Advalor:</label>  
                        </div>         
                        <div class="col-sm-4 mb-1 pl-0 pr-1 form-group form-floating" id="divColeta"> 
                            <input type="text" class="form-control form-control-sm " 
                            placeholder="Coleta" data-alert-tag="Coleta" name="coletaCte" id="coletaCte">
                            <label class="text-secondary"for="coletaCte">Coleta:</label>  
                        </div>      
                        <div class="col-sm-3 mb-0 pr-1 pl-1 form-group form-floating" id="divGris">
                            <input type="text" class="form-control form-control-sm" 
                                    placeholder="Gris" data-alert-tag="Gris" name="grisCte" id="grisCte">
                            <label class="text-secondary" for="grisCte">Gris:</label>
                        </div>
                        <div class="col-sm-3 mb-1 pr-1 pl-0 form-group form-floating" id="divPedagio">
                            <input type="text" class="form-control  form-control-sm " 
                                    placeholder="Pedágio" data-alert-tag="Pedágio" id="pedagioCte" name="pedagioCte">
                            <label class="text-secondary"for="pedagioCte">Pedágio:</label>
                        </div>              
                        <div class="col-sm-3 mb-1 pl-0 pr-1 form-group form-floating" id="divDespacho">
                            <input type="text" class="form-control  form-control-sm " 
                            placeholder="Despacho" data-alert-tag="Despacho" id="despachoCte" name="despachoCte">
                            <label class="text-secondary"for="despachoCte">Despacho:</label>  
                        </div>                                
                        <div class="col-sm-3 mb-1 pl-0 pr-1 form-group form-floating " id="divOutros">
                            <input type="text" class="form-control  form-control-sm " 
                                        placeholder="Outros" data-alert-tag="Outros" id="outrosCte" name="outrosCte">
                            <label class="text-secondary"for="outrosCte">Outros:</label>
                        </div> 

                        <div class="col-sm-2 mb-0 pr-1 pl-1 form-group form-floating " id="divBaseCalculo">
                            <input type="text" class="form-control form-control-sm  campoObrigatorio" 
                                            placeholder="Base de Cálculo" data-alert-tag="Base de Cálculo" name="baseCalculoCte" id="baseCalculoCte" disabled>
                            <label class="text-secondary" for="baseCalculoCte">Base de Cálculo:</label>
                        </div>
                        <div class="col-sm-2 mb-1 pr-1 pl-0 form-group form-floating" id="divAliquota">
                            <input type="text" class="form-control  form-control-sm  campoObrigatorio" 
                                        placeholder="Aliquota" data-alert-tag="Aliquota" id="aliquotaCte" name="aliquotaCte" disabled>
                            <label class="text-secondary"for="aliquotaCte">Alíquota:</label>
                        </div>              
                        <div class="col-sm-2 mb-1 pl-0 pr-1 form-group form-floating" id="divIcmsNf">
                            <input type="text" class="form-control  form-control-sm  campoObrigatorio" 
                                        placeholder="Icms R$" data-alert-tag="Icms R$" id="icmsCte" name="icmsCte" disabled>
                            <label class="text-secondary h1"for="icmsCte">Icms R$:</label>  
                        </div>                                
                        <div class="col-sm-6 mb-1 pl-0 pr-1 form-group form-floating" id="divTotalFrete">
                            <input type="text" class="form-control form-control-sm bg-info text-capitalize text-dark h1  campoObrigatorio" 
                                placeholder="Total Frete" id="freteTotalCte" data-alert-tag="Total Frete" name="freteTotalCte" disabled>
                            <label class="text-dark" for="freteTotalCte"><b>Total Frete :</b></label>
                        </div> 
                        <div class="col-12  pl-1 pr-0 mt-1" id="divObsCte">
                            <div class="form-floating">
                                <textarea class="form-control" id="observacaoCte"></textarea>
                                <label for="observacaoCte">Observação</label>
                            </div>
                        </div> 
                        <div class="col-sm-3 mb-1 mt-1 form-group pl-1 pr-1">
                        </div>
                        <div class="col-sm-3 mb-1 mt-1 form-group pl-1 pr-1">
                        </div>  
                        <div class="col-sm-3 mb-1 mt-1 form-group pl-1 pr-1">
                        </div>            
                    </div>
                </div> 
            </div>
        </div>
    </form>