<div class="col-sm-5 mb-3 form-group pl-3 pr-1">
    <input type="text" class="form-control form-control-sm" 
    placeholder="Nome" name="nome" id="nome">
</div>
<div class="col-sm-5 mb-3 form-group pl-0 pr-1">
    <input type="text" class="form-control form-control-sm" 
    placeholder="Contato" name="contato" id="contato">
</div>  
<div class="col-sm-2 mt-1 mb-4 form-group pl-0 pr-1">
    <div class="col-sm-12 mb-3 form-group " >
        <input type="submit" class= "btn btn-primary btn-sm icon-btn ms-2 mb-2" 
        id="incluiContato" name="incluiContato" value="+">
    </div>
</div>
    <div class="col-sm-12 mb-0 mt-0 form-group pl-0 pr-1" >
        <div class="card">  
            <div class="table-responsive">
                <table class="table table-striped" id="tabela">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Contato</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
                </table>
            </div>
        </div>
    </div>
                        