<!-- Modal -->
<div class="modal fade" id="modalAlteraNotas" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Notas Fiscais</h5>
          <button type="button" class="btn-close" onclick="closeModal()" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <form id="formModalNf">
                    <div class="row">
                      <input type="hidden" id="idNumNf">
                      <div class=" mb-3 col-sm-2">
                        <input type="text" class="form-control" id="txtIdNumNf" placeholder="Nº Nota Fiscal">
                      </div>
                      <div class=" mb-3 col-sm-5">
                        <input type="text" class="form-control" id="txtModalRemetente" placeholder="Nº Nota Fiscal">
                      </div>
                      <div class=" mb-3 col-sm-5">
                        <input type="text" class="form-control" id="txtModalDestinatario" placeholder="Destinatário">
                      </div>
                      <h3 class="mt-4">Adicionar Ocorrências</h3>
                      <div class=" mb-3 col-sm-2">
                        <input type="date" class="form-control" id="txtDataOcorrencia" placeholder="Data">
                      </div>
                      <div class="input-group mb-3 col-sm-3">
                        <label class="input-group-text" for="imagem">Upload</label>
                        <input type="file" class="form-control" id="imagem">
                      </div>
                      <div class="col-sm-2">
                        <select class="form-control form-select" id="cmbStatus">
                        </select>
                      </div>
                      <div class=" mb-3 col-sm-3">
                        <input type="text" class="form-control" id="txtObservacao" placeholder="Observação">
                      </div>  
                      <div class=" mb-3 col-sm-2">
                        <a class="btn btn-outline-primary"  id="btnNumNf" ><i class="fa fa-check" aria-hidden="true" ></i>
                        </a>
                      </div>
                    </div>
                  </form>
								<div id="paginacaoEventosNotas">
								</div>
                  <div class="row">
                    <div class="table-responsive col-sm-6">
                      <h3 class="mt-4">Ocorrências</h3>
                      <table class="table table-striped">
                        <thead>
                          <tr>
                            <th>Data</th>
                            <th>Ocorrência</th>
                            <th>Usuário</th>
                            <th>Contato</th>
                          </tr>
                        </thead>
                        <tbody id="eventosNotas">

                        </tbody>
                      </table>
                    </div>
                    <div class="table-responsive col-sm-6">
                      <h3 class="mt-4">Saídas</h3>
                      <table class="table table-striped">
                        <thead>
                          <tr>
                            <th>Data</th>
                            <th>Placa</th>
                            <th>Usuário</th>
                          </tr>
                        </thead>
                        <tbody id="eventosNotas">

                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>

        </div>
      </div>
    </div>
  </div>