<div class="modal fade" id="modalEvidencia" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Evidência da Ocorrência</h5>
          <button type="button" class="btn-close" onclick="closeModal()" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <img src="" alt="" id="imgEvidencia" style="max-width: 300px; max-height: 300px;">
        </div>
      </div>
    </div>
  </div>