{% extends 'base.html'%}

{% load static %}

{% block 'conteudo'%}

  <form method="POST">
    <div class="row">
      <div class="col-sm-12 col-12">
        <ul class="nav nav-pills nav-pills-primary pill-preDtc" id="pills-tab" role="tablist">
          <li class="nav-item pl-0 " role="presentation">
            <button class="nav-link active p-1" id="pills-dtc-tab" 
                    data-bs-toggle="pill" data-bs-target="#pills-dtc" type="button" 
                    role="tab" aria-controls="pills-dtc" aria-selected="true">
              <i class="ti-layers-alt" ></i> DTC
            </button>
          </li>
          <li class="nav-item pl-0" role="presentation">
            <button class="nav-link  p-1" id="pills-coleta-tab"  data-bs-toggle="pill" 
                    data-bs-target="#pills-coleta" type="button" role="tab" 
                    aria-controls="pills-coleta" aria-selected="true">
              <i class="ti-truck"></i> Coleta
            </button>
          </li>
          <li class="nav-item pl-0 " role="presentation">
            <button class="nav-link  p-1" id="pills-cotacao-tab" data-bs-toggle="pill" 
                    data-bs-target="#pills-cotacao" type="button" role="tab" 
                    aria-controls="pills-cotacao" aria-selected="true">

              <i class="ti-clipboard"></i> Cotação
            </button>
          </li>         
          <li class="nav-item pl-0" role="presentation">
            <button class="nav-link  p-1" id="pills-nf-tab" data-bs-toggle="pill" 
                    data-bs-target="#pills-nf" type="button" role="tab" 
                    aria-controls="pills-nf" aria-selected="false">Nota Fiscal</button>
          </li>
          <li class="nav-item pl-0" role="presentation">
            <button class="nav-link  p-1" id="pills-calculoFrete-tab" data-bs-toggle="pill" 
            data-bs-target="#pills-calculoFrete" type="button" role="tab" aria-controls="pills-calculoFrete" 
            aria-selected="false">Cálculo</button>
          </li>
          <li class="nav-item pl-0" role="presentation">
            <button class="nav-link  p-1" id="pills-rastreamento-tab" data-bs-toggle="pill" data-bs-target="#pills-rastreamento" 
            type="button" role="tab" aria-controls="pills-rastreamento" 
            aria-selected="false">Rastreamento</button>
          </li>          
          <li class="nav-item pl-0" role="presentation">
            <button class="nav-link  p-1" id="pills-contact-tab" data-bs-toggle="pill" 
            data-bs-target="#pills-contact" type="button" role="tab" 
            aria-controls="pills-contact" aria-selected="false">Outros</button>
          </li>          
          <li>
            <div class="mt-3 text-end w-100">
              <input type="text" class="form-control text-primary  p-1 small nav-link " id="numDtc" name="numDtc"
              placeholder="Nº" readOnly>
            </div>  
          </li>  
        </ul>
      </div>
    </div>
    <div class="tab-content tab-preDtc" id="pills-tabContent">
        <div class="tab-pane fade" id="pills-calculoFrete"
              role="tabpanel" aria-labelledby="pills-calculoFrete-tab">
          {% include 'calculoFrete.html' %}
        </div>    
        <div class="tab-pane fade" id="pills-rastreamento" role="tabpanel" 
        aria-labelledby="pills-rastreamento-tab">
          {% include 'rastreamento.html' %}
        </div>        
        <div class="tab-pane fade show active" id="pills-dtc" role="tabpanel" 
            aria-labelledby="pills-dtc-tab">
          {% include 'origDestPreDtc.html' %}
        </div>
        <div class="tab-pane fade" id="pills-coleta" 
            role="tabpanel" aria-labelledby="pills-coleta-tab">
          {% include 'dadosColetaPreDtc.html' %}
        </div>
        <div class="tab-pane fade" id="pills-cotacao" 
              role="tabpanel" aria-labelledby="pills-cotacao-tab">
          {% include 'dadosCotacao.html' %}
        </div>
        <div class="tab-pane fade" id="pills-nf" role="tabpanel" aria-labelledby="pills-nf-tab">
          {% include 'notasFiscais.html' %}
        </div>
        <!-- <div class="tab-pane fade" id="pills-cotacao" role="tabpanel" aria-labelledby="pills-cotacao-tab">cotacao</div> -->
      </div>
    </div>
  </form>
{% endblock %} 
{% block 'js' %} 
  <script src="{% static 'js/meusJS/buscaDtc.js' %}"></script>
  <script src="{% static 'js/meusJS/coleta.js' %}"></script>
  <script src="{% static 'js/meusJS/formatar.js' %}"></script>
  <script src="{% static 'js/meusJS/components/cotacao/calculaFrete.js' %}"></script>
  <script src="{% static 'js/meusJS/components/cotacao/cotacao.js' %}"></script>
  <script src="{% static 'js/meusJS/components/cotacao/excluirCotacao.js' %}"></script>
  <script src="{% static 'js/meusJS/components/cotacao/gerarColeta.js' %}"></script>
  <script src="{% static 'js/meusJS/components/cotacao/imprimirCotacao.js' %}"></script>
  <script src="{% static 'js/meusJS/components/cotacao/salvarCot.js' %}"></script>
  <script src="{% static 'js/meusJS/components/calculoFrete/calcula.js' %}"></script>
  <script src="{% static 'js/meusJS/rotas.js' %}"></script>
  <script src="{% static 'js/meusJS/carregaComponentesPreDtc.js' %}"></script>
  <script src="{% static 'js/meusJS/tabela.js' %}"></script>
  <script src="{% static 'js/meusJS/validaDtc.js' %}"></script>

  <script src="{% static 'js/meusJS/components/calcFrete/createFrete.js' %}"></script>
  <script src="{% static 'js/meusJS/components/calcFrete/loadCalc.js' %}"></script>
  <script src="{% static 'js/meusJS/components/calcFrete/deleteCte.js' %}"></script>
  <script src="{% static 'js/meusJS/components/calcFrete/readFrete.js' %}"></script>
  <script src="{% static 'js/meusJS/components/calcFrete/updateFrete.js' %}"></script>
  <script src="{% static 'js/meusJS/components/calcFrete/calcFreteTabelas.js' %}"></script>
  <script src="{% static 'js/meusJS/components/calcFrete/botoesCalcFrete/calcularFrete.js' %}"></script>
  <script src="{% static 'js/meusJS/components/calcFrete/botoesCalcFrete/alterarFrete.js' %}"></script>
  <script src="{% static 'js/meusJS/components/calcFrete/botoesCalcFrete/salvaFrete.js' %}"></script>
  <script src="{% static 'js/meusJS/components/calcFrete/calcFrete.js' %}"></script>
  <script src="{% static 'js/meusJS/components/calcFrete/destinoDtc.js' %}"></script>
  <script src="{% static 'js/meusJS/components/calcFrete/tipoCte.js' %}"></script>
  <script src="{% static 'js/meusJS/components/calcFrete/nfCte.js' %}"></script>
  <script src="{% static 'js/meusJS/components/calcFrete/tomadorCte.js' %}"></script>
  <script src="{% static 'js/meusJS/components/calcFrete/btnCalcFreteCte.js' %}"></script>
  <script src="{% static 'js/meusJS/components/calcFrete/selectTabelaCte.js' %}"></script>
  <script src="{% static 'js/meusJS/components/calcFrete/salvaCte.js' %}"></script>
  <script src="{% static 'js/meusJS/components/calcFrete/checkIcms.js' %}"></script>
  <script src="{% static 'js/meusJS/components/calcFrete/selectTipoCalculo.js' %}"></script>
  <script src="{% static 'js/meusJS/components/calcFrete/selectEmissor.js' %}"></script>
  <script src="{% static 'js/meusJS/components/calcFrete/cotacao.js' %}"></script>
  <script src="{% static 'js/meusJS/components/calcFrete/freteTotalCte.js' %}"></script>

  <script src="{% static 'js/meusJS/components/calcFrete/inptAdvalor.js' %}"></script>
  <script src="{% static 'js/meusJS/components/calcFrete/inptAliquota.js' %}"></script>
  <script src="{% static 'js/meusJS/components/calcFrete/inptBaseCalculo.js' %}"></script>
  <script src="{% static 'js/meusJS/components/calcFrete/inptColeta.js' %}"></script>
  <script src="{% static 'js/meusJS/components/calcFrete/inptDespacho.js' %}"></script>
  <script src="{% static 'js/meusJS/components/calcFrete/inptFreteCalculado.js' %}"></script>
  <script src="{% static 'js/meusJS/components/calcFrete/inptGris.js' %}"></script>
  <script src="{% static 'js/meusJS/components/calcFrete/inptOutros.js' %}"></script>
  <script src="{% static 'js/meusJS/components/calcFrete/inptPedagio.js' %}"></script>
  <script src="{% static 'js/meusJS/components/calcFrete/inptTotalFrete.js' %}"></script>
  <script src="{% static 'js/meusJS/components/calcFrete/inptValorIcms.js' %}"></script>
  
  <script src="{% static 'js/meusJS/components/calculoFrete/calculaCampos.js' %}"></script>

  <script src="{% static 'js/meusJS/components/nfDtc/createNf.js' %}"></script>
  <script src="{% static 'js/meusJS/components/nfDtc/novoNf.js' %}"></script>
  <script src="{% static 'js/meusJS/components/nfDtc/readNf.js' %}"></script>
  <script src="{% static 'js/meusJS/components/nfDtc/updateNf.js' %}"></script>
  <script src="{% static 'js/meusJS/components/nfDtc/deleteNf.js' %}"></script>
  <script src="{% static 'js/meusJS/components/nfDtc/nf.js' %}"></script>

  <script src="{% static 'js/meusJS/components/dtc/utils.js' %}"></script>
  <script src="{% static 'js/meusJS/components/calcFrete/origemDtc.js' %}"></script>
{% endblock %} 
