{% extends 'base.html' %}
{% load static %}

{% block 'cabecalho' %}
  <!-- JsPdf -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.debug.js" integrity="sha384-NaWTHo/8YCBYJ59830LTz/P4aQZK1sS0SneOgAvhsIl3zBu8r9RevNg5lHCHAuQ/" crossorigin="anonymous"></script>
{% endblock %}
{% block 'conteudo' %}
    <div class="row">
        <h3>Romaneio Nº <span id="numRomaneio">12321</span></h3>
        <div class="col-sm-4">
          <div class="input-group mb-3">
            <input type="text" class="form-control" id="cpfMotoristaRomaneio" placeholder="Insira o cpf do motorista">
            <input type="text" class="form-control" id="nomeMotoristaRomaneio" placeholder="Insira o número do romaneio" disabled>
            <a class="btn btn-primary btn-sm" id="btnBuscaMotoristasRomaneio" style="display: flex; justify-content: center; align-items: center;"><i class="fa fa-search" aria-hidden="true"></i> </a>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="input-group mb-3">
            <input type="text" class="form-control" id="placaVeiculoRomaneio" placeholder="Ex : AAA1A11 ">
            <input type="text" class="form-control" id="modeloVeiculoRomaneio" placeholder="Modelo" disabled>
            <a class="btn btn-primary btn-sm" id="btnBuscaVeiculosRomaneio" style="display: flex; justify-content: center; align-items: center;"><i class="fa fa-search" aria-hidden="true"></i> </a>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="mb-3 input-group">
            <input type="text" class="form-control" id="idRomaneio" placeholder="Insira o número do romaneio">
            <button class="btn btn-primary" type="button" id="btnBuscaRomaneio">Buscar</button>
            <button class="btn btn-warning" type="button" id="btnGeraRomaneio">Novo</button>
            <button class="btn btn-danger" type="button" id="btnExcluiRomaneio">Excluir</button>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="mb-3">
            <select class="form-select form-control" id="">
              <option value="1">Chave de Acesso</option>
              <option value="2">Nº Nota Fiscal</option>
            </select>
          </div>
        </div>        
        <div class="col-sm-4" >
          <div class="mb-3">
            <input type="text" class="form-control" id="idRomaneio" placeholder="Insira o número do romaneio">
          </div>
        </div>
        <div class="col-sm-4 input-group" style="height: 45px !important; ">
          <button class="btn btn-primary btn-sm" type="button" id="btnAddNf">
            <i class="fa fa-plus" aria-hidden="true"></i>
          </button>
          <button class="btn btn-warning btn-sm" type="button" id="btnPrintRomaneio">
            <i class="fa fa-print" aria-hidden="true"></i>
          </button>
          <button class="btn btn-danger btn-sm" type="button" id="btnLimpaRomaneio">
            <i class="fa fa-eraser" aria-hidden="true"></i>
          </button>
        </div>
        <div class="col-sm-12 mb-3">
          <table class="table table-striped table-sm">
            <thead>
              <tr class="thead-padrao">
                <th scope="col" class="border-end"><span>Data Saída : </span> <span id="dtSaida"></span></th>
                <th scope="col" class="border-end"><span>Prev. Chegada : </span> <span id="prevChegada"></span></th>
                <th scope="col" class="border-end"><span>Rota : </span> <span id="origemDestino"></span></th>
                <th scope="col" class="border-end"><span>Motorista : </span> <span id="motoristaPrincipal"></span></th>
                <th scope="col" class="border-end"><span>Placa : </span> <span id="spanPlacaPrincipal"></span></th>
                <th scope="col" class="border-end"><span>Número de Documentos : </span> <span id="spanQtdeDocumentos"></span></th>
                <th scope="col" class="border-end"><span>Manifesto Nº : </span> <span id="spanNumManifesto"></span></th>
              </tr>
            </thead>
          </table>
        </div>
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th>Nota Fiscal</th>
              <th>Remetente</th>
              <th>Destinatário</th>
              <th>Origem</th>
              <th>Destino</th>
              <th>Volumes</th>
              <th>Peso</th>
              <th>R$</th>
              <th>Status</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody id="romaneioNotas">
          </tbody>
        </table>
      </div>
    </div>
{% endblock %}

{% block 'js'%} 
  <script src="{% static 'js/meusJS/romaneioCaio/buscaVeiculo.js' %}"></script>
  <script src="{% static 'js/meusJS/romaneioCaio/buscaMotorista.js' %}"></script>
  <script src="{% static 'js/meusJS/romaneioCaio/btnGeraRomaneio.js' %}"></script>
{% endblock %}
